<?xml version="1.0" encoding="UTF-8"?>
<?define bin = ..\..\..\bin\ ?>
<?define MAINEXE=$(var.Mosaic.TargetFileName)?>
<?define VERSION=!(bind.FileVersion.$(var.MAINEXE))?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Mosaic $(var.VERSION)" Language="1033" Version="$(var.VERSION)" Manufacturer="Quider Software" UpgradeCode="624a7393-71ed-45f4-a128-5e9f4cd4ec70">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <UIRef Id="WixUI_FeatureTree" />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Upgrade Id ="624a7393-71ed-45f4-a128-5e9f4cd4ec70">
      <UpgradeVersion
         Minimum="0.1.0.0" Maximum="99.0.0.0"
         Property="PREVIOUSVERSIONSINSTALLED"
         IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>

    <Property Id="INSTALLFOLDER">
      <RegistrySearch Id="Installpath" Type="directory" Root="HKLM" Key="Software\Quider Software\Mosaic" Name="Installed" />
    </Property>

    <Feature Id="ProductFeature" Title="Mosaic" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="TranslationsGroup"/>
      <ComponentRef Id="ApplicationShortcutDesktop"/>
    </Feature>
    
  <InstallExecuteSequence>
      <RemoveExistingProducts Before="InstallInitialize" /> 
  </InstallExecuteSequence>
  
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop"/>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Mosaic">
          <Directory Id="pl" Name="pl"></Directory>
          <Directory Id="log" Name="log"></Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="{3B9C53F9-B0F1-47F5-A124-AEA2FB00E863}">
        <File Source="$(var.bin)$(var.Configuration)\Mosaic.exe"></File>
        <File Source="$(var.bin)$(var.Configuration)\Mosaic.exe.config"></File>
        <File Source="$(var.bin)$(var.Configuration)\log4net.dll"></File>
        <File Source="$(var.bin)$(var.Configuration)\ClassicMosaic.dll"></File>
        <File Source="$(var.bin)$(var.Configuration)\ColorsCalculation.dll"></File>
        <File Source="$(var.bin)$(var.Configuration)\i18n.dll"></File>
        <File Source="$(var.bin)$(var.Configuration)\Utilities.dll"></File>
        <File Source="$(var.bin)$(var.Configuration)\RandomMosaic.dll"></File>
        <File Source="$(var.bin)$(var.Configuration)\MySql.Data.dll"></File>
        <CreateFolder Directory="pl" ></CreateFolder>
        <CreateFolder Directory="log" ></CreateFolder>
      </Component>

      <Component Id="RegistryEntriesInst" Guid="{65960CF9-152D-4A84-9F54-FE7708F5647A}">
        <RegistryKey Root="HKLM" Key="Software\Quider Software\Mosaic" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Name="installed"  Value="[INSTALLFOLDER]" KeyPath="yes"/>
        </RegistryKey>
      </Component>
      <Component Id="RegistryEntriesVer" Guid="{9D184035-883E-4353-9D8C-D0CCCFBE4709}">
        <RegistryKey Root="HKLM" Key="Software\Quider Software\Mosaic" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Name="version" Value="$(var.VERSION)" KeyPath="yes"/>
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="TranslationsGroup" Directory="pl">
      <Component Id="polish" Guid="{066502E1-A756-4F63-88CF-EF02BAC9EE7A}">
        <File Source="$(var.bin)$(var.Configuration)\pl\i18n.resources.dll"></File>
      </Component>
    </ComponentGroup>

    <Component Id="ApplicationShortcutDesktop" Guid="{44FD2228-D8BF-4D71-95FB-93E36C5370C0}" Directory="DesktopFolder">
      <Shortcut Id="ApplicationDesktopShortcut"
          Name="Mosaic"
          Description="Runs mosaic maker"
          Target="[INSTALLFOLDER]Mosaic.exe"
          WorkingDirectory="INSTALLFOLDER"/>
      <RemoveFolder Id="DesktopFolder" On="uninstall"/>
      <RegistryValue
          Root="HKCU"
          Key="Software/[ProductName]"
          Name="installed"
          Type="integer"
          Value="1"
          KeyPath="yes"/>
    </Component>
  </Fragment>
</Wix>