<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LibSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <LibSettings.Properties.Settings>
            <setting name="Ratio" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="Treshold" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="TilesInGroup" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Hue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TilesPlaced" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TilesFolder" serializeAs="String">
                <value>tiles\\</value>
            </setting>
            <setting name="TilesExtList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.bmp</string>
                        <string>.png</string>
                        <string>.jpg</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TilesExt" serializeAs="String">
                <value>0</value>
            </setting>
        </LibSettings.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
